.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

ul.horizontal li a.active {
    background-color: #4cafa6;
}