@import './colors.scss';

%default-padding {
    padding: 0.5rem;
}

.container {
    padding: 2rem;
}
button {
    @extend %default-padding;
    margin: 0.2rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;

    &.primary-btn {
        color: $color-white;
        background-color: $color-lightblue;
    }

    &.danger-btn {
        color: $color-white;
        background-color: #ff010d;
        opacity: 0.8;
    }

    &.default-btn {
        background-color: $color-gray;
    }
}

%column-styles {
    @extend %default-padding;
    border: 1px solid #ddd;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    thead {
        color: $color-white;
        background-color: $color-lightblue;
    }

    th {
        @extend %column-styles;
    }

    td {
        @extend %column-styles;
    }

    tr:nth-child(even) {
        background-color: $color-gray;
    }
}

%form-padding-and-width {
    @extend %default-padding;
    width: 90%;
    margin: 0.2rem;
}
form {
    @extend %default-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-gray;
    input[type='text'],
    input[type='number'] {
        @extend %form-padding-and-width;
    }

    select {
        @extend %default-padding;
        margin: 0.2rem;
    }

    label {
        @extend %form-padding-and-width;
    }
}
